<a href="https://colab.research.google.com/github/PraveenPrabhat125/Python-for-Data-Science/blob/main/Basic%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables

In [10]:
var = 123
print(var)
type(var)

123

int

# Data Type
1. Int
2. Float
3. String
4. Boolean

# Important
1. List
2. Tuples
3. Dicitionary

In [11]:
#Int
int_var = 12
print(int_var)
type(int_var)

12

int

In [13]:
# flaot
float_var = 12.0001212
print(float_var)
type(float_var)

12.0001212

float

In [14]:
# String
str_var = "Data_Scientist"
print(str_var)
type(str_var)

Data_Scientist

str

In [15]:
# Boolean
bool_var = False
print(bool_var)
type(bool_var)

False

bool

# List

In [17]:
# CRUD

# 1. Creat
fruits = ['apple', 'banana', 'orange']
print(fruits)
type(fruits)

['apple', 'banana', 'orange']

list

In [19]:
# read
print(fruits[0]) # first element
print(fruits[-1]) # last element


#length
print(len(fruits))

apple
orange
3

In [23]:
# update
fruits[0] = "Grapes"
fruits

fruits[-1] = "Pineapple"
fruits

['Grapes', 'banana', 'Pineapple']

In [27]:
# add ele to last
fruits.append("new fruits")
fruits

['Grapes', 'banana', 'Pineapple', 'new fruits']

In [31]:
# Delete
del fruits[1]
fruits

['Grapes', 'new fruits']

### Complete code in once bloack for all list functions

In [32]:
# Creating Lists
my_list = []  # Empty list
numbers = [1, 2, 3, 4, 5]  # List with integers
fruits = ['apple', 'banana', 'orange']  # List with strings
mixed_list = [1, 'hello', 3.14, True]  # List with mixed data types

# Accessing Elements
print(numbers[0])  # Accessing the first element
print(fruits[2])   # Accessing the third element
print(numbers[-1])  # Accessing the last element using negative indexing

# Modifying Lists
fruits[1] = 'grape'  # Changing an element
print(fruits)

fruits.append('kiwi')  # Appending an element to the end
print(fruits)

fruits.extend(['melon', 'pineapple'])  # Extending the list with another list
print(fruits)

# List Functions
print(len(numbers))  # Length of the list
print(max(numbers))  # Maximum value in the list
print(min(numbers))  # Minimum value in the list
print(sum(numbers))  # Sum of all elements (for numeric lists)

print(fruits.index('orange'))  # Index of 'orange'
print(fruits.count('apple'))   # Count of 'apple'

fruits.remove('kiwi')  # Removing the first occurrence of 'kiwi'
print(fruits)

removed_item = fruits.pop(1)  # Removing and returning an element by index
print(removed_item)
print(fruits)

1
orange
5
['apple', 'grape', 'orange']
['apple', 'grape', 'orange', 'kiwi']
['apple', 'grape', 'orange', 'kiwi', 'melon', 'pineapple']
5
5
1
15
2
1
['apple', 'grape', 'orange', 'melon', 'pineapple']
grape
['apple', 'orange', 'melon', 'pineapple']

# Dictionary

In [33]:
# Creating a Dictionary
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

# Displaying the original dictionary
print("Original Dictionary:", my_dict)

# Creating a dictionary with mixed data types
mixed_dict = {'name': 'Alice', 'score': 95, 'is_student': True}

# Accessing Elements
print(my_dict['name'])  # Accessing value by key
print(my_dict.get('age'))  # Accessing value using get() method

# Modifying Elements
my_dict['age'] = 26  # Updating the 'age' value
print("Dictionary after updating 'age':", my_dict)

my_dict['gender'] = 'Male'  # Adding a new key-value pair
print("Dictionary after adding 'gender':", my_dict)

# Deleting Elements
del my_dict['city']  # Deleting a key-value pair
print("Dictionary after deleting 'city':", my_dict)

# Deleting the entire dictionary
my_dict.clear()
print("Dictionary after clearing:", my_dict)

# Example with Nested Dictionary
employee = {
    'id': 101,
    'name': 'Alice',
    'details': {'position': 'Engineer', 'department': 'IT'}
}

print("Employee Details:", employee['details']['position'])

# Dictionary Functions
print(len(my_dict))  # Length of the dictionary
print(mixed_dict.keys())  # List of keys
print(mixed_dict.values())  # List of values

# Check if a key exists
print('name' in my_dict)  # Output: False (after clearing)

# Copying a dictionary
copied_dict = my_dict.copy()
print("Copied Dictionary:", copied_dict)

# Merging two dictionaries
merged_dict = {**my_dict, **mixed_dict}
print("Merged Dictionary:", merged_dict)

Original Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}
John
25
Dictionary after updating 'age': {'name': 'John', 'age': 26, 'city': 'New York'}
Dictionary after adding 'gender': {'name': 'John', 'age': 26, 'city': 'New York', 'gender': 'Male'}
Dictionary after deleting 'city': {'name': 'John', 'age': 26, 'gender': 'Male'}
Dictionary after clearing: {}
Employee Details: Engineer
0
dict_keys(['name', 'score', 'is_student'])
dict_values(['Alice', 95, True])
False
Copied Dictionary: {}
Merged Dictionary: {'name': 'Alice', 'score': 95, 'is_student': True}