<a href="https://colab.research.google.com/github/PraveenPrabhat125/Python-for-Data-Science/blob/main/class_%26_inheritance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** Classes **

In [6]:
class Person:
  # the method that runs as soon as you create a class
  def __init__ (self, name, age, color):
    self.name = name
    self.age = age
    self.color = color

In [8]:
new_person = Person("Elon Musk", 38, 'blue')
new_person.color

'blue'

In [21]:
from re import S
# Stundet class
class Student:
  def __init__(self, name, roll, grade, section):
    self.name = name
    self.roll = roll
    self.grade = grade
    self.section = section

  def print_fun(self):
    print("Name", {self.name})
    print("roll", {self.roll})
    print("grade", {self.grade})
    print("section", {self.section})


  def print_fun_info(self):
    print("Name", self.name, "\n Roll: ", self.roll, "\n grade: ", self.grade)

In [22]:
# create object like s1
s1 = Student("Praveen", 18, "A", "B")
s2 = Student("Alice", 19, "B", "A")
s3 = Student("Bob", 20, "C", "A")
s4 = Student("Eva", 18, "A", "A")
s5 = Student("Mike", 19, "B", "B")

In [23]:
s1.print_fun_info()
s2.print_fun_info()
s3.print_fun_info()
s4.print_fun_info()
s5.print_fun_info()

Name Praveen
 Roll:  18
 grade:  A
Name Alice
 Roll:  19
 grade:  B
Name Bob
 Roll:  20
 grade:  C
Name Eva
 Roll:  18
 grade:  A
Name Mike
 Roll:  19
 grade:  B

In [ ]:
# how to count the number of students
# 1. create a count to class

# create the list and then count the list of student

# how to count the number of students
### 1. create a count to class

In [34]:

# Stundet class
class Student:
  num_students = 0

  def __init__(self, name, roll, grade, section):
    self.name = name
    self.roll = roll
    self.grade = grade
    self.section = section


    Student.num_students += 1

  def print_fun(self):
    print("Name", {self.name})
    print("roll", {self.roll})
    print("grade", {self.grade})
    print("section", {self.section})


  def print_fun_info(self):
    print("Name", self.name, "\n Roll: ", self.roll, "\n grade: ", self.grade)

In [35]:
s1 = Student("Praveen", 18, "A", "B")
s2 = Student("Alice", 19, "B", "A")
print(Student.num_students)

2


## create the list and then count the list of student

In [62]:
# creating the list of object
# Stundet class
class Student:
  student_register =  []

  def __init__(self, name, roll, grade, section):
    self.name = name
    self.roll = roll
    self.grade = grade
    self.section = section

    # add this object to the list
    Student.student_register.append(self)


  def print_fun(self):
    print("Name", {self.name})
    print("roll", {self.roll})
    print("grade", {self.grade})
    print("section", {self.section})


  def print_fun_info(self):
    print("Name", self.name, "\n Roll: ", self.roll, "\n grade: ", self.grade)

  # self is instance of cussrent class
  def dob(self):
    return self.roll

  def age(self, year = 10):
    return  self.roll + year

In [63]:
# create object like s1
s1 = Student("Praveen", 18, "A", "B")
s2 = Student("Alice", 19, "B", "A")
s3 = Student("Bob", 20, "C", "A")
s4 = Student("Eva", 18, "A", "A")
s5 = Student("Mike", 19, "B", "B")


# no of students
print("number of stundet:- ", len(Student.student_register))


s1.print_fun_info()
s2.print_fun_info()
s3.print_fun_info()
s4.print_fun_info()
s5.print_fun_info()

# s5.dob("age of", s5.print_fun_info, "age: ", s5.dob(s5))

number of stundet:-  5
Name Praveen
 Roll:  18
 grade:  A
Name Alice
 Roll:  19
 grade:  B
Name Bob
 Roll:  20
 grade:  C
Name Eva
 Roll:  18
 grade:  A
Name Mike
 Roll:  19
 grade:  B

In [65]:

print(Student.student_register[0].name)

# Student.student_register[0].print_fun()

Student.student_register[0].print_fun_info()

Student.student_register[0].dob()

Student.student_register[4].age()

Praveen
Name Praveen
 Roll:  18
 grade:  A

29

# Inheritance

## Parent class [ base class]

In [67]:
class Person:
  # initilization function
  def __init__(self, name, age, color):
    self.name = name
    self.age = age
    self.color = color

  def print_person_info(self):
    print("Name: ", self.name, "Age: ", self.age, "Color: ", self.color)

## child class [inherited class]

- using super method

In [75]:
class Astronut(Person):

  #initilization
  def __init__(self,  name, age, color, total_trip_duration, place):

    # supper method for inheritance
    super().__init__(name, age, color)
    self.total_trip_duration = total_trip_duration
    self.place = place

In [78]:
new_astronut = Astronut('Praveen ', 21, 'Grey', 23, 'Moon')

print( new_astronut.name)

print( new_astronut.print_person_info())

Praveen
Name:  Praveen  Age:  21 Color:  Grey
None