<a href="https://colab.research.google.com/github/PraveenPrabhat125/Python-for-Data-Science/blob/main/wirking_with_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with files

In [6]:
# Write out our mission journal
with open('mission_jounal.txt', 'w') as f:
    f.write("It's my first on the space mission. It is verry nice  It's my first on the space mission. It is verry nice.")

In [8]:
with open('mission_jounal.txt', 'r') as f:
  file = f.read()

In [9]:
print(file)

It's my first on the space mission. It is verry nice  It's my first on the space mission. It is verry nice.

# Error handeling

In [10]:
new_set = {1,2,3,4,5}

In [13]:
new_set

{1, 2, 3, 4, 5}

In [14]:
for items in new_set:
  print(items)

1
2
3
4
5

In [15]:
new_set[0] = 3

TypeError: 'set' object does not support item assignment

In [16]:
try:
  new_set[0] = 1000
except Exception as e:
  print(e)

'set' object does not support item assignment

In [17]:
try:
  new_set[0] = 1000
except Exception as e:
  #print(e)
  print('Something went wrong')

Something went wrong

In [ ]:
# Try something using the try keyword
try:
    # Run a piece of code which may cause an error
    new_set[0] = 4

# If we have an error, this code below will run
except Exception as e:
    print(e)
    # Print out something that's a little nicer for the user
    print('Something went wrong with your request.')